*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ipBox{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: cornflowerblue;
    height: 100vh;   
}

.opBox{
    display: flex;
    justify-content: center;
}

.img{
    width: 25vh;
    height: 20vh;
}

/* BOX IS INPUT AREA */
.box{
    border: none;
    width: 5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.submit{
    width: 5rem;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.navbtns {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}  
.navbtns:hover {
    background-color: #ddd;
    color: black;
}


.previous {
    background-color: #f1f1f1;
    color: black;
}  
.next {
    background-color: #04AA6D;
    color: white;
}

.navbtn{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}


.aa{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aacontent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.houseFuel {
    display: none;   
}
.bb{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bbcontent{
    display: flex;
    gap: 5rem;
}
.bblpg{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.bbcoal{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.fasttravel{
    display: none;
}
.cc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cccontent{
    display: flex;
    gap: 5rem;
}
.ccair{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ccrail{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ccmetro{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.slowtravel {
    display: none;
}
.dd{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ddcontent{
    display: flex;
    gap: 5rem;
}
.ddbus{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.ddcar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.travelFuel {
    display: none;
}
.ee{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.eecontent{
    display: flex;
    gap: 5rem;
}
.eepetrol{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.eediesel{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.eecng{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.meal {
    display: none;
}
.ff{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ffcontent{
    display: flex;
    gap: 5rem;
}
.ffvegan{
    display: flex;
    gap: 0.5rem;
}
.ffveg{
    display: flex;
    gap: 0.5rem;
}
.ffmeat{
    display: flex;
    gap: 0.5rem;
}

.submit {
    display: none;
}
